*.ASOIAF.ged
*.Rproj
*.knit.md
.DS_Store
.Rdata
.Rhistory
.Rproj.user
.httr-oauth
.quarto
.vscode/launch.json
/Meta/
BGmisc.code-workspace
R/.Rhistory
benchmark_results.csv
data-raw/ASOIAF.ged
data-raw/ASOIAF_040725.ged
dataRelatedPairs.csv
dataRelatedPairs_new2.csv
paper/paper.html
tests/testthat/Rplots.pdf
vignettes/articles/paper.html
.vscode/settings.json
data-raw/logo_orange.png
data-raw/Landers-Wilson-Garrison Tree.ged
