.Rproj.user
.DS_Store
data-raw/ASOIAF.ged
R/.Rhistory
.Rhistory
paper/paper.html
/Meta/
*.knit.md
vignettes/articles/paper.html
BGmisc.code-workspace
tests/testthat/Rplots.pdf
*.ASOIAF.ged
ASOIAF.ged
*.Rproj

.vscode/launch.json
dataRelatedPairs_new2.csv
data-raw/ASOIAF_040725.ged
