!source/**/_extensions/**
*.ASOIAF.ged
*.Rproj
*.[rR][dD]ata
*.dbf
*.doc*
*.eps
*.gddoc
*.gdsheet
*.gpkg
*.html
*.knit.md
*.mdb
*.pdf
*.shp*
*.shx
*.sty
*.tex
*.xls*
*_cache
*_files
*_freeze
*_libs
.DS_Store
.RData
.Rdata
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
.quarto
.vscode/launch.json
.vscode/settings.json
/.claude
/Meta/
BGmisc.code-workspace
R/.Rhistory
benchmark_results.csv
data-raw/Landers-Wilson-Garrison Tree.ged
data-raw/logo_orange.png
dataRelatedPairs.csv
dataRelatedPairs_new2.csv
docs
libs
output
paper/paper.html
renv/library
revdep/
tests/testthat/Rplots.pdf
vignettes/articles/paper.html
vignettes/rewritten_relatedness_vignette.Rmd
vignettes/rewritten_relatedness_vignette.Xmd
revdep/
/.claude
vignettes/understanding_relatedness.Rmd
vignettes/understanding_relatedness.Xmd
